* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #ffffff;
  color: #333;
  
}

/*-------Menu section start------*/
.menu-container {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  z-index: 1000;
  
}
.logo{
  width: 22%;
  height: 80px;
  background: #ffffff;
  float: left;
  display: flex;
}
.logo i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    background:#18186e;
    margin: 15px 5px;
    font-size: 20px;
}
.logo h2{
    color: #0a306f;
    line-height: 80px;
    font-size: 31px;
}
.menu-item {
  width: 53%;
  height: 80px;
}
.menu-item ul {
  list-style: none;
}
.menu-item ul li {
  float: left;
  line-height: 80px;
  text-align: center;
  width: 100px;
  position: relative;
}
.menu-item ul li a {
  color: #18186e;
  text-decoration: none;
  font-size: 18px;
  display: flex;          /* flex ব্যবহার করা হলো */
  align-items: center;    /* vertical alignment */
  justify-content: center; /* text center করার জন্য */
  gap: 5px;               /* text এবং icon এর মাঝে দূরত্ব */
  transition: 0.3s;
}

.menu-item ul li i {
  color: #18186e;
  font-size: 14px;        /* icon size ঠিক করতে */
}
.menu-item ul li.active2 .nav-text {
  text-decoration: underline #18186e;
  text-underline-offset: 6px;
}
.menu-item ul li:hover .nav-text {
  text-decoration: underline #18186e;
  text-underline-offset: 6px;
}
.menu-item ul li:hover > a {
  color: #18186e;
}.menu-item ul li ul {
  position: absolute;
  top: 80px;
  left: 0;
  background: #ffffff;
  width: 200px;
  display: none;
  z-index: 999;
  border-top: 1px solid #18186e;
}

.menu-item ul li ul li {
  line-height: 50px;
  border-bottom: 1px solid gray;
  text-align: left;
  padding-left: 15px;
  width: 100%;
}
.menu-icon{
  width: 15%;
  height: 80px;
}
.menu-icon i{
  color: #18186e;
  line-height: 80px;
  padding: 0px 15px;
  font-size: 22px;
}
/*-------Menu section end------*/


/*Mobile menu*/
.menu-icon2 {
  display: none;
}
.menu-icon2 i{
  float: right;
  color: #18186e;
  line-height: 80px;
  padding: 0px 20px;
  font-size: 25px;
  display: none;
}
.mobile-menu{
  width: 100%;
  height: auto;
  background: #ffffff;
  position: fixed;
  top: 80px;
  z-index: 1000;
}
.mobile-menu ul li{
  font-size: 22px;
  line-height: 60px;
  border-top: 2px solid #18186e;
}
.mobile-menu ul li a{
  text-decoration: none;
  color: #18186e;
  padding-left: 40px;
}
.mobile-menu ul li ul li a{
  padding-left: 80px;
}
.mobile-menu ul li ul li ul li a{
  padding-left: 120px;
}
.mobile-menu ul li i{
  float: right;
  line-height: 60px;
  padding: 0px 40px;
  border-left: 2px solid #18186e;
}
/*Mobile menu*/

/*-------hero section start------*/
.hero-container{
    height: 670px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
}
.hero-text{
  padding-top: 10px;
  width: 49%;
  text-align: center;
  animation: slideLeft 2s ease forwards;
}
.hero-text h1{
  color: #141414;
  font-size: 60px;
}
.hero-text p{
  padding-top: 20px;
  font-size: 20px;
}
.hero-text button{
  background: #0a306f;
  color: #fff;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  border: 2px solid transparent;;
  margin-top: 20px;
  transition: 1s;
}
.hero-text button:hover{
  background: white;
  border: 2px solid #0a306f;
  color: #141414;
}
.hero-img {
  width: 51%;
  position: relative;
  display: flex;
  padding-top: 150px;
  overflow: hidden;
  animation: slideRight 2s ease forwards;
}

.hero-img img {
  width: 730px;
  height: 535px;
  position: relative;
  z-index: 2;
}

@keyframes slideLeft {
    0% { transform: translateX(-80px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
    0% { transform: translateX(80px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
/*-------hero section end------*/


/*-------collection section start------*/
.container-text p{
  padding-top: 30px;
  text-align: center;
  background-color: #fff;
  font-size: 21px;
}
.container-text h1{
  background-color: #fff;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}
.buttons{
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}
.buttons button{
  background-color: #ffffff;
  margin: 5px;
  padding: 13px;
  border-radius: 25px;
  border: 2px solid #18186e;
  font-size: 22px;
  transition: 1s;
}
.buttons button:hover{
  background-color: #18186e;
  color: white;
}

.collection-container{
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  display: flex;
  padding-top: 20px;
  gap: 40px;padding-left: 50px;
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 220px;
  height:360px;
  text-align: left;
  font-family: arial;
  border-radius: 10px;
  transition: 1s;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  background-color: #F5F5F5;
  height: 230px;
  border-radius: 10px 10px 0 0;
}
.card h1{
  color: #333;
  font-size: 22px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.card p{
  margin-left: 10px;
  padding-bottom: 5px;
  color: #797979;
}
.price {
  color: grey;
  font-size: 22px;
}
.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
/*-----collection section end------*/


/*-------features section start------*/
.features-text p{
  padding-top: 50px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 21px;
}
.features-text h1{
  background-color: #f2f2f2;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}
.features-container {
  width: 100%;
  height: 650px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0px;
}

.fet-card {
  width: 300px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.fet-card i {
  font-size: 40px;
  padding-top: 30px;
  color: #18186e;
}

.fet-card h2 {
  font-size: 25px;
  color: #18186e;
  padding-top: 10px;
}

.fet-card p {
  font-size: 18px;
  padding: 5px;
}

.fet-card:hover {
  transform: scale(1.1);
}

/* Fade-in */
.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: 0.8s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*-------features section end------*/

/*-------about section start------*/
.about-text p{
  padding-top: 30px;
  text-align: center;
  background-color: #ffffff;
  font-size: 21px;
}
.about-text h1{
  background-color: #ffffff;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}

.about-container{
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  padding-top: 30px;
  background-color: white;
  flex-wrap: wrap;
  gap: 120px;
}
.about-images {
  padding-left:100px ;
  width: 600px;
  height:400px;
  border-radius: 10px;
  
}
.about-images img{
  border-radius: 10px;
  width: 600px;
  height:400px;
}
.image-text{
  width: 490px;
  height: 410px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  padding: 20px;
  
}
.image-text h1{
  padding-bottom: 20px;
}
.image-text p{
  font-size: 20px;
}
.image-text button{
  background-color: #18186e;
  color: white;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: 1s;
}
.image-text button:hover{
  background-color: #d5d4d4;
  color: #18186e;
}
.image-text2{
  width: 550px;
  height: 410px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  padding-left:110px;
  padding-top: 20px;
  
}
.image-text2 h1{
  padding-bottom: 20px;
}
.image-text2 p{
  font-size: 20px;
}
.image-text2 button{
  background-color: #18186e;
  color: white;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: 1s;
}
.image-text2 button:hover{
  background-color: #d5d4d4;
  color: #18186e;
}

.about-images2 {
  padding-right:160px ;
  width: 600px;
  height:400px;
  border-radius: 10px;
  margin-bottom: 60px;
  
}
.about-images2 img{
  border-radius: 10px;
  width: 600px;
  height: 400px;
  margin-right:30px ;
}

.fadeLeft {
  opacity: 0;
  transform: translateX(-80px);
  transition: 0.8s ease;
}

.fadeLeft.show {
  opacity: 1;
  transform: translateX(0);
}

.fadeRight {
  opacity: 0;
  transform: translateX(80px);
  transition: 0.8s ease;
}

.fadeRight.show {
  opacity: 1;
  transform: translateX(0);
}

/*-------about section end------*/


/*------blog section start------*/
.blog-text p{
  padding-top: 30px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 21px;
}
.blog-text h1{
  background-color: #f2f2f2;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}
.blog-container{
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  display: flex;
  padding-top: 20px;
}
.bcard {
  width: 350px;
  height:390px;
  margin: 50px;
  background: #f2f2f2;
  text-align: left;
  font-family: arial;
  border-radius: 10px;
  transition: 1s;
}
.bcard:hover{
  transform: scale(1.1);
}
.bcard img{
  background-color: #F5F5F5;
  height: 230px;
  border-radius: 10px;
}
.bcard h1{
  color: #333;
  font-size: 25px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.bcard p{
  margin-left: 10px;
  padding-bottom: 5px;
  color: #797979;
}
.bcard a{
  margin-left: 10px;
  color: #18186e;
  text-decoration: underline;
  text-underline-offset: 6px ;
}
.price {
  color: grey;
  font-size: 22px;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
/*-------blog section end-----*/

/*-------testimonial section start------*/
.testimonial-text p{
  padding-top: 30px;
  text-align: center;
  background-color: #ffffff;
  font-size: 21px;
}
.testimonial-text h1{
  background-color: #ffffff;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}
.testimonial-container{
  width: 100%;
  height: 500px;
  background-color: white;
}

/* Slideshow container */
.slideshow-container {
  width: 900px;
  height: 300px;
  position: relative;
  margin: auto;
  display: flex;
  padding-left: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.tes-card2{
    height: 270px;
    width: 370px;
    background-color: #f2f2f2 ;
    float: left;
    margin: 35px 30px 35px 35px;
    border-radius: 15px;
}
.client-info2{
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}
.tes-img2{
    float: left;
    background-color: #18186e;
    border-radius: 15px 80px 80px 0px;
    width: 140px; 
    height: 150px; 
}
.tes-img2 img{
    width: 100px; 
    height: 110px; 
    border-radius: 50%; 
    border: 2px solid white;
    margin: 20px;
}
.review2{
    float: right;
    margin-left: 120;
    padding: 10px;
    padding-top: 30px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 10px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 50px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
/*-------testimonial section end-----*/

/*-------faq section start------*/
.faq-text p{
  padding-top: 30px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 21px;
}
.faq-text h1{
  background-color: #f2f2f2;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #18186e;
}


.faq-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 660px;
  background-color: #f2f2f2;
}
.accordionss{
  margin-left: 50px;
  margin-top: 70px;
  background-color: #f2f2f2;
}
.accordion {
  background-color: #ffffff;
  color: #18186e;
  cursor: pointer;
  padding: 18px;
  width: 720px;
  height: 80px;
  text-align: left;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
  font-weight: 30px;
  margin-bottom: 15px;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active1 {
  background-color: #ccc;
}
.accordion:hover{
  background-color: #18186e;
  color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 10px 18px;
  width: 720px;
  height: 80px;
  background-color: #c8c8c8;
  color: black;
  font-weight: 30px;
  font-size: 20px;
  display: none;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  
}

.active1:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  
}

.faq-image{
  width: 420px;
  height: 400px;
  margin-top: 100px;
  margin-right: 30px;
}
.faq-image img{
  width: 420px;
  height: 400px;
  display: block;
}
.fadeLeft {
  opacity: 0;
  transform: translateX(-80px);
  transition: 0.8s ease;
}

.fadeLeft.show {
  opacity: 1;
  transform: translateX(0);
}

.fadeRight {
  opacity: 0;
  transform: translateX(80px);
  transition: 0.8s ease;
}

.fadeRight.show {
  opacity: 1;
  transform: translateX(0);
}
/*-------faq section end------*/





/*-------footer section start------*/

.footer-container{
  width: 100%;
  height: 300px;
  background-color: #18186e;
  display: flex;
  
}
.col-1{
  width: 26%;
  background-color: #18186e;
  margin: 10px;
}
.logo2{
  width: 100%;
  height: 80px;
  background: #18186e;
  display: flex;
  margin-left:20px ;
  margin-top: 30px;
}
.logo2 i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #18186e;
    background:#f2f2f2;
    margin: 15px 5px;
    font-size: 20px;
}
.logo2 h2{
    color: #f2f2f2;
    line-height: 80px;
    font-size: 31px;
    margin-left: 10px;
}
.col-1 p{
  background-color: #18186e;
  color: white;
  margin-left: 30px;
  padding-top: 10px;
}
.icon{
  width: 100%;
  height: 80px;
  
}
.icon i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #f2f2f2;
    background:#18186e;
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    float: left;
    transition: 1s;
}
.icon i:hover {
    transform: scale(1.2);
}
.col-2{
  width: 15%;
  background-color: #18186e;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.col-2 h1{
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 35px;
}
.col-2 ul li{
    list-style: none;
    padding-top: 18px;
    padding-left: 35px;
}
.col-2 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.col-3{
  width: 18%;
  background-color: #18186e;
  margin: 10px;
}
.col-3 h1{
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 35px;
}
.col-3 ul li{
    list-style: none;
    padding-top: 18px;
    padding-left: 35px;
}
.col-3 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.col-4{
  width: 18%;
  background-color: #18186e;
  margin: 10px;
}
.col-4 h1{
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 35px;
}
.col-4 ul li{
    list-style: none;
    padding-top: 18px;
    padding-left: 35px;
}
.col-4 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
.col-5{
  width: 16%;
  background-color: #18186e;
  margin: 10px;
}
.col-5 h1{
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 35px;
}
.col-5 ul li{
    list-style: none;
    padding-top: 18px;
    padding-left: 35px;
}
.col-5 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
/*-------footer section end------*/


/*-----copyright section------*/
.copyright-container{
  width: 100%;
  height: 50px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left p{
  color: #18186e;
  margin: 0;
  font-size: 16px;
  padding-left: 120px;
}
.right{
  padding-right: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.right a{
 text-decoration: none;
 color: #18186e;
 display: flex;
 gap: 5px;
 align-items: center;
}
.divider{
  font-weight: bold;
  color: #18186e;
}
/*-----copyright section------*/